.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #344051;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}





@font-face {
    font-family: 'FranklinGot';
    src: url('../fonts/framd.eot');
    src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'FranklinGot', sans-serif;

}

nav {
    width: 100%;
    height: 43px;
    background: #344051;
    position: fixed;
    z-index: 10;

}

.logo {
    color: #fff;
    font-size: 18px;
    line-height: 43px;
    float: left;
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
    animation: coming 2s ease;
    font-family: 'FranklinGot'sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

.menu {
    float: left;

}

.menu li {
    float: left;
    line-height: 43px;
    color: #fff;
    margin-right: 28px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/BigMan.png)no-repeat 90% 100%/auto 85%, url(../img/backround1.png) center/cover no-repeat;
}

.title__container {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;

}

.title__container h1 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 79.17px;
    font-weight: 600;
    letter-spacing: -2px;



}

.title__container h4 {
    margin-top: 28px;
    font-size: 14px;
    color: #79818d;
    font-weight: 500;
}

.title__container input {
    height: 28px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 12px;
    margin: 42px 10px 0px 10px;
}

.icon-guitar-custom {
    color: red;
    font-size: 40px;
}




.menu li a {
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}


.menu li a:hover {
    color: orange;
    transform: scale(1.2);

}

.menu li a:active {
    transform: scale(1.1)
}

.title__container input {
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover {
    background: #344051;
    color: white;
}

.title__container input:active {
    transform: scale(1.1);
}

@keyframes coming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.1s;
}

.menu li:nth-child(3) {
    animation-delay: 0.15s;
}

.menu li:nth-child(4) {
    animation-delay: 0.18s;
}

.menu li:nth-child(5) {
    animation-delay: 0.21s;
}

.menu li:nth-child(6) {
    animation-delay: 0.24s;
}


@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.white-btn:visited {
    color: white;
}

@media (max-width: 991px) {

    .title__container,
    .title__container h4,
    .title__container input {
        color: white;
        position: relative;
        z-index: 3;
    }

    .title__container input {
        border: 2px solid #fff;
    }

    .main {
        position: relative;
    }

    .main::after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
}


.my_info h3 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 110px;
    color: #263244;
    text-transform: uppercase;
}

.my_info > img {
    display: block;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
}

.circle_photo img {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.my_info p {
    font-family: 'Calibri Regular', sans-serif;
    font-size: 17.67px;
    font-weight: 600;
    color: #526070;
    margin-top: 18px;
    margin-bottom: 40px;
}

.my_info button {
    height: 35px;
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    text-align: center;
    border: 2px solid #6f7180;
    background: none;
    border-radius: 7px;
    color: #6f7180;
    font-size: 16.67px;
    font-weight: 600;
    display: block;
    margin: 0px auto 10px auto;
    padding: 0px 10px;
}

.button_cv button {
    transition: all 0.1s;
    margin-bottom: 98px;
}

.button_cv button:hover {
    background: #6f707e;
    color: white;
}

.button_cv button:active {
    transform: scale(1.1);
    background: #9496a6;
}




.ability {
    width: 100%;
    height: auto;
    background: url(../img/ability.png) center/cover no-repeat;
    background-attachment: fixed;
}


.ability_container h3 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 110px;
    color: #263244;
    text-transform: uppercase;
}

.ability_container > img {
    display: block;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
}

.ability_list {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}


.ability_list h4 {
    font-family: 'Bahnschrift SemiBold', "Aral", sans-serif;
    font-size: 18.58px;
    font-weight: bold;
    letter-spacing: -1.5px;
    color: #cf7600;
    padding-top: 40px;

}

.ability_list p {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Calibri Regular', "Arial", sans-serif;
    font-size: 16.67px;
    letter-spacing: -1.5px;
    color: #38475a;
    text-align: center;
    margin-bottom: 60px;

}

.ability_list img {
    height: 57px;
    transition: all 1s;
}

.ability_list img:hover {
    -webkit-animation: flip 1s ease forwards;
    -o-animation: flip 1s ease forwards;
    animation: flip 1s ease forwards;

}


.case_title h3 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 105px;
    color: #263244;
    text-transform: uppercase;
}

.case_title > img {
    display: block;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
}

.case_title p {
    font-family: 'Calibri Regular', "Arial", sans-serif;
    font-size: 16.67px;
    font-weight: 600;
    color: #38475a;
    margin: 32px 0px 40px 0px;
    text-align: center;
}

.case2 img {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.case3 h3 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    letter-spacing: -1.5px;
    font-size: 25px;
    font-weight: 600;
    color: #384354;
    margin: 7px 0px;
}

.case3 span {
    font-size: 20.83px;
    color: #3f495a;
    font-weight: 500;
}

.case3 button {
    margin-top: 23px;
    height: 45px;
    width: 200px;
    text-align: center;
    border: 2px solid #63b5ae;
    background-color: #63b5ae;
    border-radius: 5px;
    font-size: 20.83px;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #fff;
    transition: all 0.2s;
    transform: scale(1);

}


.case3 button:hover {
    background: #50908a;
    border: 2px solid #50908a;
}

.case3 button:active {
    transform: scale(1.1);
    background: #63b5ae;
    border: 2px solid #63b5ae;
}


.costs_container {
    margin-top: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.costs h2 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 45.83px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 40px;
    color: #102032;
}

.costs h3 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 29.17px;
    font-weight: 600;
    margin-top: 60px;
    color: #102032;
    margin-left: 22px;
}

.costs select {
    margin-top: 22px;
    margin-left: 22px;
    width: 83%;
    background-color: #eeeeee;
    height: 58px;
    font-size: 16.67px;
    font-weight: 600;
    color: #747474;
}

.costs option {
    margin-top: 22px;
    background-color: #eeeeee;
    height: 58px;
    font-size: 16.67px;
    font-weight: 600;
    color: #747474;
}

.total_img {
    margin-top: 38px;
    margin-left: 22px;
    margin-bottom: 23px;
    overflow: hidden;

}

.total_1 h4 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 20.83px;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #102032;
    margin-left: 22px;
    line-height: 30px;

}

.total_1 span {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 29.17px;
    font-weight: 700;
    color: #102032;
    padding-left: 75%;
    line-height: 30px;
}

.costs button {
    margin-top: 23px;
    margin-bottom: 42px;
    height: 45px;
    width: 200px;
    text-align: center;
    border: 2px solid #63b5ae;
    background-color: #63b5ae;
    border-radius: 5px;
    font-size: 20.83px;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #fff;
    transition: all 0.2s;
    transform: scale(1);

}

.costs button:hover {
    background: #50908a;
    border: 2px solid #50908a;
}

.costs button:active {
    transform: scale(1.1);
    background: #63b5ae;
    border: 2px solid #63b5ae;
}


.stats {
    width: 100%;
    height: auto;
    background: url(../img/bg_stats.png) center/cover no-repeat;
    background-attachment: fixed;

}


.stats_container h3 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 33.33px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 130px;
    color: #293b4f;
    text-transform: uppercase;
}

.stats_container > img {
    display: block;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
}


.stats_list {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
}

@media(max-width:500px){
.stats_blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    margin-top: 20px;
    
 }   
}
@media(max-width:500px){
    .stats_list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:500px) {
    .stats_list p {
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-top: 20%;
        
            }
}

.stats_list h4 {
    font-family: "Aral Black", sans-serif;
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: -1.5px;
    color: #293b4f;
    padding-top: 30px;
    padding-bottom: 15px;


}

.stats_list p {
    font-size: 18px;
    color: #293b4f;
    text-align: center;
    font-weight: 600;

}

.stats_list img {
    height: 63px;
    transition: all 1s;
}

.stats_list img:hover {
    transform: rotate(-360deg);
}

.fd {
    margin-bottom: 80px;
}

.fd h3 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 110px;
    color: #263244;
    text-transform: uppercase;
}

.fd > img {
    display: block;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
}

.circle_photo img {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.fd p {
    font-family: 'Calibri Regular', sans-serif;
    font-size: 17.67px;
    font-weight: 500;
    color: #526070;
    margin-top: 36px;
    margin-bottom: 40px;
    text-align: center;
}


.circle_buttons {
    text-align: center;
    display: flex;
    justify-content: space-around;


}

.circle_buttons li {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    width: 20px;
}

.contacts {
    width: 100%;
    height: 808px;
    background: url(../img/bg_contacts.png) center/cover no-repeat;
}

.contacts_container h3 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin: 90px 0px 0px 0px;
    color: #fff;
    text-transform: uppercase;
}

@media(max-width:576px){
    .contacts_container h3{
        margin-top: 30px;
         }
}

.contacts_container > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacts_container p {
    font-size: 16.67px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    letter-spacing: -1.5px;
}

@media(max-width:576px){
    .contacts_container p {
        margin-bottom: 20px;
        }
}

.contacts_list {
    text-align: center;
}

.contacts_list p {
    font-family: 'Calibri', sans-serif;
    font-size: 16.67px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
}

.contacts_list img {
    height: 27px;
}

.contacts_list a {
    color: #fff;
    text-decoration: none;
}

.contacts_list a:hover {
    color: orange;

}

.recall h3 {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 20.83px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 14px;
    color: #fff;
    text-transform: uppercase;
}

.forms input {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 16.67px;
    font-weight: 600;
    margin: 30px 0px 0px 0px;
    height: 35px;
    width: 350px;
    background-color: #d2d6dc;
    opacity: .8;
    padding-left: 10px;
}

@media (max-width:575px){
    .forms input{
        margin-top: 2px;
        height: 25px;
        width: 50%;
        margin-left: 25%; 
    }
}
@media (max-width:320px){
    .forms input {
        margin-top: 2px;
        height: 25px;
        width: 50%;
        margin-left: 25%;
    }
}

.forms textarea {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 16.67px;
    font-weight: 600;
    margin: 14px 0px 0px 0px;
    height: 96px;
    width: 57%;
    background-color: rgba(210, 214, 220, .8);
    padding: 5px 0px 0px 10px;
}

@media(max-width:576px){
    .forms textarea{
        margin-top: 5px;
        height: 65px;
       }
}

.send_button input {
    margin: 25px 0px 0px 0px;
    padding-right: 10px;
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 20.83px;
    font-weight: 600;
    letter-spacing: -2px;
    height: 47px;
    width: 126px;
    border: 2px solid #fdfdfd;
    border-radius: 5px;
    color: #fff;
    background: none;
    transition: all 0.1s;
    transform: scale(1);


}

.send_button input:hover {
    background: #d1d0d0;
    opacity: 0.5;
    color: #000;

}

.send_button input:active {

    -webkit-animation: backOutDown 1s ease;
    -o-animation: backOutDown 1s ease;
    animation: backOutDown 1s ease;

    @-webkit-keyframes backOutDown {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1
        }

        20% {
            -webkit-transform: translateY(0) scale(.7);
            transform: translateY(0) scale(.7);
            opacity: .7
        }

        to {
            -webkit-transform: translateY(700px) scale(.7);
            transform: translateY(700px) scale(.7);
            opacity: .7
        }
    }

    @keyframes backOutDown {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1
        }

        20% {
            -webkit-transform: translateY(0) scale(.7);
            transform: translateY(0) scale(.7);
            opacity: .7
        }

        to {
            -webkit-transform: translateY(700px) scale(.7);
            transform: translateY(700px) scale(.7);
            opacity: .7
        }
    }

}

.tail img {
    width: 100%;
}

.tail h6 {
    height: 77px;
    background: #354051;
    color: #fff;
    text-align: center;
    line-height: 77px;
    font-size: 11px;
}
